.search_input {
    height: 60px;
    width: 100%;
    top: 75px;
    right: 0px;
    position: fixed;
    background: #95f7c9;
    outline: none;
    border: none;
    padding-left: 15px;
    letter-spacing: -.7px;
    font-size: 20px;
}

.search_data {
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    overflow-y: scroll;
    position: unset;
    margin-top: 305px;
}

